#*
*#
*.swp
*~
.blobs
.bundle
.cache
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.gitreview
.idea
.tags*
blobs
deployments
config/dev.yml
config/private.yml
dev_releases
output
releases/*.tgz
src_alt
**/.DS_Store
releases/**/*.tgz
.DS_Store
bosh-lite/deployments/*
bosh-lite/tmp/*
pkg
manifest.yml
bin/*
src/github.com/codegangsta/
src/github.com/vito/
.envrc
.vscode
.rake_t_cache
src/github.com/davecgh/
src/github.com/fatih
src/github.com/haya14busa/
src/github.com/josharian
src/github.com/josharian/
src/github.com/kisielk/
src/github.com/MichaelTJones/
src/github.com/petergtz/multicloser/
src/github.com/petergtz/pegomock/
src/github.com/ramya-rao-a
src/github.com/ramya-rao-a/
src/github.com/skratchdot/
src/github.com/uudashr/
src/github.com/zmb3/
src/golang.org/
