[submodule "src/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = src/github.com/cloudfoundry-incubator/cf-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-test-helpers
	branch = master
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
	branch = master
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
	branch = v2
[submodule "src/github.com/pivotal-golang/archiver"]
	path = src/github.com/pivotal-golang/archiver
	url = https://github.com/pivotal-golang/archiver
	branch = master
[submodule "src/github.com/petergtz/bitsgo"]
	path = src/github.com/petergtz/bitsgo
	url = https://github.com/petergtz/bitsgo.git
